<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/Space-Wallpapers-HD-Wallpapers-Art-Prints-Posters-Desktop.jpg">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="main-content">
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            <p>This site is created by Shivani!. It uses data from mapbox.com and weatherstack.</p>
            <img class="portrait" src="/img/IMG_20181216_093002_958.jpg">
            {{!-- <p>Created by {{name}}</p> --}}
    </div>

    {{>footer}}
</body>

</html>